    <div class="container">
        <div class="row">
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">
                    <a class="fb-ic" href="https://www.facebook.com/ira.bolyukh/">
                        <i class="fab fa-facebook-f fa-lg text-dark mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="tw-ic" href="https://twitter.com/2binclover">
                        <i class="fab fa-twitter fa-lg text-dark  mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="li-ic" href="https://www.linkedin.com/in/iryna-bolyukh-a39a151a5/">
                        <i class="fab fa-linkedin-in fa-lg text-dark  mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="ins-ic" href="https://www.instagram.com/dearcarpediem/">
                        <i class="fab fa-instagram fa-lg text-dark  mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="pin-ic" href="https://www.pinterest.com/ibolyukh/_saved/">
                        <i class="fab fa-pinterest fa-lg text-dark fa-2x"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a target="_blank" href="https://www.linkedin.com/in/iryna-bolyukh-a39a151a5/" style="color: #000000;">Iryna Bolyukh</a>
    </div>
