<!DOCTYPE html>
<html lang="en">
<head>
    <title><%- title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/3c3246e51c.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- body %>
<!--    <script type="text/javascript">-->
<!--        setInterval('window.location.reload()', 5000);-->
<!--    </script>-->
</body>
</html>