<!DOCTYPE html>
<html lang="en">
<head>
    <title><%- title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/3c3246e51c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main><%- body %></main>
    <side><%- include('../partials/application-form.ejs') %></side>
</body>
</html>