<div class="grey p-5 mb-5 mr-5">
    Більшість відвідувачів наших тренінгів їх не потребують, оскільки не піддаютсья навчанню.
    Але вони платоспроможні, і в цьому основан суть тренінгів.
</div>
<p>Наш тренінговий центр є найкрутішим у світі!
    <br>Заповніть заявку, і з Вами зв'яжеться наш менеджер. Тільки спробуйте не заповнити або заповнити неправильно.</p>
<script>
    $(".hov[href='/about-ukr']").css('color', '#ffffff');
    $(".en").attr("href","/about");
    $(".ukr").attr("href","/about-ukr");
</script>