<img src="/assets/images/<%- image %>" alt="">
<h1 class="mt-5 mb-2">Enjoy the services of our training center!</h1>
<p>Who doesn't want to enjoy - your bad! We'll find you wherever you are
    and we'll prove to you and your potential employers that you know nothing!</p>
<script>
    $(".hov[href='/home']").css('color', '#ffffff');
    $(".en").attr("href","/home");
    $(".ukr").attr("href","/home-ukr");
</script>