<img src="/assets/images/screen.PNG" alt="">
<h1 class="mt-5 mb-2">Насолоджуйтесь послугами нашого тренігового центру!</h1>
<p>Хто не хоче насолоджуватися - Вам же гірше! Ми Вас знайдемо і доведемо і Вам особисто,
    і Вашим потенційним роботодавцям, що Ви нічого не знаєте.</p>
<script>
    $(".hov[href='/home-ukr']").css('color', '#ffffff');
    $(".en").attr("href","/home");
    $(".ukr").attr("href","/home-ukr");
</script>